* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: #b8ae97;
}

.product-card {
  display: flex;
  gap: 20px;
  background-color: #fff;
  width: 80vw;
  margin: 100px auto;
  box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.product-img {
  width: 35%;
  object-fit: cover;
}

.product-name {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.product-tag {
  background-color: #b8ae97;
  padding: 4px 8px;
  color: #fff;
  font-size: 12px;
}

.product-title {
  display: flex;
  align-items: center;
  gap: 12px;
}

.discounted-price {
  font-weight: 500;
  margin-right: 12px;
}

.original-price {
  text-decoration: line-through;
  color: #aaa;
}

.tabbar ul {
  margin: 20px 0;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #ddd;
}

.tabbar ul li {
  color: #aaa;
  list-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

.tabbar ul li.active {
  color: #000;
  border-bottom: 1px solid #000;
}

.description-text {
  color: #888;
  line-height: 1.3;
}

.title {
  margin: 12px 0 8px 0;
}

.size-list {
  display: flex;
  flex-wrap: wrap;
}

.size-list li {
  color: #888;
  list-style: none;
  height: 50px;
  width: 70px;
  background-color: #fff;
  border: 1px solid #ddd;

  display: flex;
  justify-content: center;
  align-items: center;
}

.size-list li.size-active {
  color: #000;
  font-weight: 700;
  border: 2px solid #000;
}

.color-section {
  margin-bottom: 18px;
}

.outer-circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid grey;

  display: flex;
  align-items: center;
  justify-content: center;
}

.inner-circle {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: indigo;
}

.colors {
  display: flex;
  gap: 12px;
}

.teal-color {
  background-color: teal;
}

.red-color {
  background-color: red;
}

.btn {
  background-color: #fff;
  border: 1px solid #aaa;
  padding: 12px 24px;
  width: 170px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid #000;
}

@media (max-width: 800px) {
  /* body {
    background-color: teal;
  } */

  .product-card {
    flex-direction: column;
  }

  .product-img {
    width: 100%;
  }
}
